<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <td>
        <%= link_to "show", book_path(book.id) %>
        <div>edit</div>
        <div>destroy</div>
      </td>
    </tr>
  <% end %>
</table>

<h1>Now book</h1>
<%= form_with model:@book, local:true do |f| %>
<div>
  <lavel>Title</lavel>
  <%= f.text_field :title %>
</div>
<div>
  <laval>Body</laval>
  <%= f.text_area :body %>
</div>
<div>
  <%= f.submit 'Create ' %>
</div>
<% end %>

